
body {
	margin: 0px; 
	padding: 0px; 
	font-family: sans-serif;
}
#content, container-fluid, body{
	min-width: 314px;
}
#content:before, #content:after {
    content: " ";
    display: table;
}
#content:after {
    clear: both;
}
#content {
    *zoom: 1;
}
header{
	background: url('../img/logo-bg.png')rgb(225, 229, 233) no-repeat;
	color: rgb(78,150,209); 
	font-size: 10pt;
}
header img{
	height: 100%;
	max-height: 54px;
}
#header_text{
	margin-left: 0px;
}
#aside_button{
	display: inline-block;
	height: 100%;	
	background: rgb(10,70,140);
	background: linear-gradient(rgb(90, 150, 220), rgb(10,70,140));
	cursor: pointer;
}
aside{
	display: none;
	background: rgb(10,70,140);
	background: linear-gradient(rgb(90, 150, 220), rgb(10,70,140));
	color: rgb(229, 229, 229);
	height: 100%;
}
aside ul{
	list-style: none;
	padding: 5px;
}

.link{
	margin: 6px;
	padding-left: 10px;
	cursor: pointer;
	padding: 6px;
	border: 1px solid rgb(239, 239, 239);
}

.link:hover{
	border: 1px solid rgb(9, 60, 120);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.menu-title{
	padding: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	border:1px solid rgb(146, 156, 160);
	box-shadow: 0px 0px 0px 1px rgb(239, 239, 239) inset;
}

#username, #department{
	margin: 6px;
}

.selected{
	color: rgb(243, 112, 33);
	border: 1px solid  rgb(243, 112, 33);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.selected:hover{
	background: rgb(239, 239, 239);
	color: rgb(255, 102, 51);
	border: 1px solid  rgb(255, 102, 51);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.menu-block{
	margin: 2px 1px 0 0;
	border: 2px solid rgb(9, 60, 120);
}

.menu-block-title, .menu-block-content{	
	display: inline-block;
	width: 100%;
}

.menu-block-title{
	background: rgb(9, 60, 120);
	color: rgb(78,150,209);
	padding-bottom: 2px;
	cursor: pointer;
	padding-left: 6px;
}

.menu-block-content{
	background: rgb(239, 239, 239);
	color: rgb(9, 60, 120)
}

.menu-user-block{
	padding: 6px;
	margin-right: 1px;
}

.menu-user-block div{
	text-align: left;
}

input[type="button"]{
	background: rgb(229, 229, 229);
	border:1px solid rgb(146, 156, 160);
	box-shadow: 0px 0px 0px 1px rgb(239, 239, 239) inset;
	border-radius: 3px;
	font-size: 12pt;
	width: 100%;
	padding: 6px 0 6px 0;
}
input[type="button"]:hover{
	background: rgb(200, 200, 200);

}
.arrow{
	display: inline-block;
	float: left;
	height: 22px;
	width: 22px;
}

.visible{
	background-image: url(../img/arrow_down.png);
}

.withhold{
	background-image: url(../img/arrow_right.png);
}
.status{
	
	display: inline-block;
	float: right;
}
.status .work, 
.status .warning,
.status .error{
	float: right;
	padding: 2px;
	/*font-weight: bold;*/
	color: black;
}
.work{
	background: rgb(160, 215, 46);
/*	background: #66BB6A;*/
}

table > tbody > tr.well-success > td {
	background: rgb(176, 214, 94);
}

.warning{
	background: rgb(255, 206,0);
	/*background: #FFEB3B;*/
}

table > tbody > tr.well-warning > td {
	background: rgb(255, 227, 117);
}

.error{
	background: rgb(243, 112, 33);
	/*background: #FF7043;*/
}

table > tbody > tr.well-danger > td {
	background: rgb(242, 151, 99);
}

.block-title-text{
	display: inline-block;
	padding: 2px;
	color: rgb(255,255,255);
}

article{
	background: #F5F7F9;
	display: inline-block !important;
	height: 100%;
}

.page_content{
	padding: 6px;
}

.table{
	background: rgb(229, 229, 229);
}

.table_header{
	background: rgb(200, 200, 200)!important;
}

@media only screen and (min-width: 542px) {
	#header_text{
		height: 54px; 
		position:absolute; 
		top:50%;
		margin-top: -27px;
		vertical-align: middle;
		padding-left: 316px;
	}
}

@media only screen and (min-width: 641px) {
	#header_text{
		height: 34px; 
		position:absolute; 
		top:50%;
		margin-top: -17px;
		vertical-align: middle;
		padding-left: 316px;
	}
}

@media only screen and (min-width: 768px) {
	header{
		font-size: 12pt;
		height: 54px;
	}	
	#header_text{
		height: 36px; 
		position:absolute; 
		top:50%;
		margin-top: -18px;
		vertical-align: middle;
		padding-left: 316px;
	}
	aside{
		display: inline-block !important;
		//height: 100%;	
	}
	article{	
		//position: absolute !important;
	}
}

@media only screen and (min-width: 992px) {
	header{
		height: 94px;
		font-size: 14pt;
	}
	.header_content{
		display: inline-block;
		float: left;
		height: 54px; 
		padding-left: 6px;
		position:absolute; 
		top:50%;
		margin-top: -27px;
		vertical-align: middle;
	}
	#header_text{
		height: 44px; 
		position:absolute; 
		top:50%;
		margin-top: -22px;
		vertical-align: middle;
	}
	.page_content{
		padding: 12px;
	}
}

@media only screen and (min-width: 1208px) {
	#header_text{
		height: 22px; 
		position:absolute; 
		top:50%;
		margin-top: -11px;
		vertical-align: middle;
	}
}	